In [102]:
import pandas as pd
a1 = pd.read_csv('data/Annotation_2024_04_team_1 - Avishai.csv')
b1 = pd.read_csv('data/Annotation_2024_04_team_1 - Paulina.csv')
c1 = pd.read_csv('data/Annotation_2024_04_team_1 - Xiaoyue.csv')

In [103]:
a2 = pd.read_csv('data/Annotation_2024_04_team_2 - Anke.csv')
b2 = pd.read_csv('data/Annotation_2024_04_team_2 - Hendrik.csv')
c2 = pd.read_csv('data/Annotation_2024_04_team_2 - Myrthe.csv')

In [104]:
core1 = a1[['number', 'comment_id', 'post_title', 'comment_body']]
core2 = a2[['number', 'comment_id', 'post_title', 'comment_body']]

In [106]:
# drop the columns using a fuction to avoid repetition
def drop_columns(df):
    df.drop(columns=['number', 'comment_id', 'post_title', 'comment_body','comments'], inplace=True)
    return df

a1 = drop_columns(a1)
b1 = drop_columns(b1)
c1 = drop_columns(c1)
a2 = drop_columns(a2)
b2 = drop_columns(b2)
c2 = drop_columns(c2)

In [107]:
# write a function that drops the row of a dataframe if column Q1 is NaN
def drop_nan(df):
    df.dropna(subset=['Q1'], inplace=True)
    return df

a1 = drop_nan(a1)
b1 = drop_nan(b1)
c1 = drop_nan(c1)

# Change the type of the column Q1 to integer
a1['Q1'] = a1['Q1'].astype(int) 
b1['Q1'] = b1['Q1'].astype(int) 
c1['Q1'] = c1['Q1'].astype(int) 

# Create a new column that only contains tha first two values of the string in column Q2
a1['Q3'] = a1['Q2'].str[:1]
b1['Q3'] = b1['Q2'].str[:1]
c1['Q3'] = c1['Q2'].str[:1]

# Change the value of the row with index 39 in a1 to 'B. Political hypocrisy' and 'B' in column Q2 and Q3 respectively
a1[a1['Q3'] == '1'].index
a1.at[39, 'Q2'] = "B. Political hypocrisy"
a1.at[39, 'Q3'] = 'B'

# Create a new column where if the value in Q1 is 0, the value in Q4 is 0, else keep the value of Q3
a1['Q4'] = a1['Q3']
a1.loc[a1['Q1'] == 0, 'Q4'] = 0

b1['Q4'] = b1['Q3']
b1.loc[b1['Q1'] == 0, 'Q4'] = 0

c1['Q4'] = c1['Q3']
c1.loc[c1['Q1'] == 0, 'Q4'] = 0

# Create a new column in core1 that contains the values of Q4 from a1, b1 and c1
core1['QA1'] = a1['Q4']
core1['QB1'] = b1['Q4']
core1['QC1'] = c1['Q4']

In [115]:
# drop the columns using a fuction to avoid repetition
a2 = drop_nan(a2)
b2 = drop_nan(b2)
c2 = drop_nan(c2)

# Change the type of the column Q1 to integer
a2['Q1'] = a2['Q1'].astype(int) 
b2['Q1'] = b2['Q1'].astype(int) 
c2['Q1'] = c2['Q1'].astype(int) 

# Create a new column that only contains tha first two values of the string in column Q2
a2['Q3'] = a2['Q2'].str[:1]
b2['Q3'] = b2['Q2'].str[:1]
c2['Q3'] = c2['Q2'].str[:1]

In [121]:
# Create a new column where if the value in Q1 is 0, the value in Q4 is 0, else keep the value of Q3
a2['Q4'] = a2['Q3']
a2.loc[a1['Q1'] == 0, 'Q4'] = 0

b2['Q4'] = b2['Q3']
b2.loc[b1['Q1'] == 0, 'Q4'] = 0

c2['Q4'] = c2['Q3']
c2.loc[c2['Q1'] == 0, 'Q4'] = 0

# Create a new column in core1 that contains the values of Q4 from a2, b2 and c2
core2['QA1'] = a2['Q4']
core2['QB1'] = b2['Q4']
core2['QC1'] = c2['Q4']

/var/folders/n5/y53yj96j3d7bsb54xrzys8s40000gn/T/ipykernel_1343/219116078.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  core2['QA1'] = a2['Q4']
/var/folders/n5/y53yj96j3d7bsb54xrzys8s40000gn/T/ipykernel_1343/219116078.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  core2['QB1'] = b2['Q4']
/var/folders/n5/y53yj96j3d7bsb54xrzys8s40000gn/T/ipykernel_1343/219116078.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  core2['QC1'] = c2['Q4']

In [122]:
core2

,number,comment_id,post_title,comment_body,QA1,QB1,QC1
0,1,dq5q44r,"From cola to tomatoes, EU to embrace CO2 recyc...","\nROTTERDAM, 1. NOV, 09:21\nFollowing an indus...",0,0,0
1,2,iifuuzl,NaN,I have no problem with rich people spending th...,A,A,A
2,3,gph3uin,Finland - Finnish Green Party change stance an...,It's very pretentious from them. I believe tha...,0,0,B
3,4,iodc54w,Very high recycling rates were recorded in Ita...,"Exactly the same in Ireland, there was an inve...",0,0,0
4,5,i1m2wck,NaN,&gt; So the women who have come out and said t...,0,A,0
...,...,...,...,...,...,...,...
205,206,hnpuz2u,Germany responding to news of Nuclear being in...,Fossil gas being classified as 'green'? Come o...,NaN,0,0
206,207,emurgfk,Plan for 25% of EU budget to fight climate change,Germany should not be shoving all the nasty st...,NaN,NaN,0
207,208,dzw2iuw,NaN,&gt; If younger going to use government to sol...,NaN,0,0
208,209,hdcwyx6,Climate change performance index of the countr...,"Never said it's not the lesser evil, but it's ...",NaN,NaN,0
209,210,d1g89j0,NaN,"You are looking at what they say, not what the...",NaN,0,B

In [123]:
# compare QA1, QB1 and QC1 if they are all the same then add that value to the column 'Label'
def compare(df):
    if df['QA1'] == df['QB1'] and df['QA1'] == df['QC1']:
        return df['QA1']
    else:
        return 'disagreement'

core1['Label'] = core1.apply(compare, axis=1)
core2['Label'] = core2.apply(compare, axis=1)

/var/folders/n5/y53yj96j3d7bsb54xrzys8s40000gn/T/ipykernel_1343/3277331947.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  core1['Label'] = core1.apply(compare, axis=1)
/var/folders/n5/y53yj96j3d7bsb54xrzys8s40000gn/T/ipykernel_1343/3277331947.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  core2['Label'] = core2.apply(compare, axis=1)

In [126]:
core1.to_csv('data/Annotation_2024_04_team_1_merged.csv', index=False)
core2.to_csv('data/Annotation_2024_04_team_2_merged.csv', index=False)

In [1]:
import pandas as pd

In [2]:
!pwd

/Users/paulina/Desktop/hypo-hack/data

In [47]:
df1 = pd.read_csv('Annotation_2024_04_team_1_merged.csv')
df2 = pd.read_csv('Annotation_2024_04_team_2_merged.csv')

In [48]:
df = pd.concat([df1, df2])

In [49]:
# Set the data type of columns QA1, QB1 and QC1 to strings
df['QA1'] = df['QA1'].astype(str)
df['QB1'] = df['QB1'].astype(str)
df['QC1'] = df['QC1'].astype(str)

In [50]:
df.value_counts('QA1')

QA1
0      186
nan    126
B       55
A       46
D        6
C        1
Name: count, dtype: int64

In [51]:
# Dictionary to map old values to new values
value_map = {'0': 0, 'A': 1, 'B': 2, 'C': 3, 'D': 4, 'nan': 5}

# Replace values in specified columns
df[['QA1', 'QB1', 'QC1']] = df[['QA1', 'QB1', 'QC1']].replace(value_map)

In [57]:
def compute_mode(row):
    modes = row.mode()
    if len(modes) == 1:
        return modes[0]
    else:
        return 'Disagreement'

# Apply the function to each row
df['mode'] = df[['QA1', 'QB1', 'QC1']].apply(compute_mode, axis=1)

In [62]:
df1 = df[df['mode']!=5]
df1 = df1[df1['mode']!='Disagreement']

In [65]:
df1['mode'].value_counts()

mode
0    221
1     35
2     35
3      2
Name: count, dtype: int64

In [ ]:
df1.to_csv('data/final_label_data.csv', index=False)

In [64]:
# replace the values of the column 'mode' where 3 and 4 are replaced by 3
df1['mode'] = df1['mode'].replace(4, 3)

In [67]:
!pwd

/Users/paulina/Desktop/hypo-hack/data

In [68]:
df1.to_csv('./final_annotations_14062024.csv', index=False)